<mat-card appearance="outlined" class="trackit-card">
  <mat-card-header>
    <mat-card-title>🏋️‍♂️ Health & Fitness </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="trackit-tile-container">
      <mat-list role="list">
        <mat-list-item role="listitem"> 🏃‍♂️ Daily Steps & Distance </mat-list-item>
        <mat-list-item role="listitem"> 🔥 Calories Burned </mat-list-item>
        <mat-list-item role="listitem"> 💪 Weekly Workout Progress </mat-list-item>
        <mat-list-item role="listitem"> ⏳ Water Intake & Sleep Hours </mat-list-item>
        <mat-list-item role="listitem">📊 Weight & BMI Tracking</mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <!-- <button
      mat-raised-button
      class="trackit-primary-btn"
      routerLink="/goal-tracking"
    >
      View Detailed Report!
    </button> -->
  </mat-card-actions>
</mat-card>
