<div class="card mb-0 mt-8">
  <div class="flex justify-between">
    <span class="block text-3xl text-muted-color font-medium mb-4">Courses</span>
    <p-button label="Add Course" icon="pi pi-plus" iconPos="right" (click)="onAddCourse()" />
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
    @for (course of courses$ | async; track course) {
      <div class="mb-4 p-2 md:p-4 flex items-center justify-center">
        <p-card
          [style]="{ width: '25rem', overflow: 'hidden' }"
          class="dark:bg-gray-800 dark:border-surface-600"
        >
          <ng-template #header>
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
          </ng-template>
          <ng-template #title> {{ course.title }} </ng-template>
          <ng-template #subtitle> {{ course.subtitle }} </ng-template>
          <p>
            {{ course.description }}
          </p>
          <ng-template #footer>
            <div class="flex justify-between justify-items-stretch">
              <div class="w-16 flex-none">
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  pTooltip="Delete"
                  tooltipPosition="top"
                  (click)="onDelete(course.id)"
                  text
                  raised
                  rounded
                />
              </div>
              <div class="justify-self-end">
                <p-button
                  icon="pi pi-pencil"
                  class="mr-4"
                  pTooltip="Edit"
                  tooltipPosition="top"
                  text
                  raised
                  rounded
                />
                <p-button label="View More" routerLink="course-details" />
              </div>
            </div>
          </ng-template>
        </p-card>
      </div>
    }
  </div>
  <!-- Deferred Loading: TODO -->
  <!-- <div class="">
    <p-skeleton styleClass="mb-2" borderRadius="16px" />
    <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px" />
    <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px" />
    <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px" />
    <p-skeleton width="10rem" height="4rem" borderRadius="16px" />
  </div> -->
</div>

<p-dialog
  [header]="dialogTitle"
  [modal]="true"
  [(visible)]="showAddDialog"
  [style]="{ width: '25rem' }"
>
  <div class="flex items-center gap-4 mb-4">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="w-full">
      <p-floatlabel variant="in" class="w-full">
        <input
          pInputText
          id="title"
          class="w-full mb-4"
          formControlName="title"
          pSize="large"
          autocomplete="off"
        />
        <label for="title">Title</label>
      </p-floatlabel>
      <p-floatlabel variant="in" class="w-full">
        <input
          pInputText
          id="subtitle"
          class="w-full mb-4"
          formControlName="subtitle"
          pSize="large"
          autocomplete="off"
        />
        <label for="subtitle">Subtitle</label>
      </p-floatlabel>
      <p-floatlabel class="w-full" variant="in">
        <p-select
          formControlName="priority"
          inputId="priority"
          [options]="priorities"
          optionLabel="label"
          optionValue="value"
          class="w-full mb-4"
          appendTo="body"
        />
        <label for="priority">Priority</label>
      </p-floatlabel>

      <p-floatlabel class="w-full" variant="in">
        <p-select
          formControlName="category"
          inputId="category"
          [options]="categories"
          optionLabel="label"
          optionValue="value"
          class="w-full mb-4"
          variant="filled"
          appendTo="body"
        />
        <label for="category">Catagory</label>
      </p-floatlabel>

      <p-floatlabel class="w-full" variant="in">
        <p-datepicker
          formControlName="targetDate"
          inputId="targetDate"
          showIcon
          iconDisplay="input"
          class="w-full mb-4"
          styleClass="w-full"
          appendTo="body"
        />
        <label for="targetDate">Target Date</label>
      </p-floatlabel>
      <div class="flex mt-4 w-full">
        <p-button
          [disabled]="courseForm.invalid"
          label="Save"
          type="submit"
          class="w-full"
          styleClass="w-full"
        />
      </div>
    </form>
  </div>
</p-dialog>

<!-- <div class="card flex justify-center gap-2"> -->
<p-toast />
<p-confirmdialog />
<!-- </div> -->
