<mat-card appearance="outlined" class="trackit-card">
  <mat-card-header>
    <mat-card-title>🎯 Goal Tracking </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="trackit-tile-container">
      <mat-list role="list">
        <mat-list-item role="listitem"> 🎯 Total Active Goals </mat-list-item>
        <mat-list-item role="listitem">📅 Next Goal Deadline</mat-list-item>
        <mat-list-item role="listitem">📊 Top Goal Progress</mat-list-item>
        <mat-list-item role="listitem">
          🏃‍♂️ Fitness & Health Goals
        </mat-list-item>
        <mat-list-item role="listitem">🏦 Financial Goals</mat-list-item>
        <mat-list-item role="listitem">
          💼 Career & Learning Goals
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <!-- <button
      mat-raised-button
      class="trackit-primary-btn"
      routerLink="/goal-tracking"
    >
      View Detailed Report!
    </button> -->
  </mat-card-actions>
</mat-card>
