<mat-card appearance="outlined" class="trackit-card">
  <mat-card-header>
    <mat-card-title>📈 Portfolio </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="trackit-tile-container">
      <mat-list role="list">
        <mat-list-item role="listitem">💰 Total Portfolio Value</mat-list-item>
        <mat-list-item role="listitem">📈 Growth in Last 30 Days</mat-list-item>
        <mat-list-item role="listitem">
          🏦 Asset Allocation (Stocks, Crypto, Real Estate)
        </mat-list-item>
        <mat-list-item role="listitem"> 📊 Top Performing Investment </mat-list-item>
        <mat-list-item role="listitem"> 🔔 Market Trends & Alerts </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <!-- <button
      mat-raised-button
      class="trackit-primary-btn"
      routerLink="/goal-tracking"
    >
      View Detailed Report!
    </button> -->
  </mat-card-actions>
</mat-card>
