<mat-card appearance="outlined" class="trackit-card">
  <mat-card-header>
    <mat-card-title> 💳 Subscription Tracker </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="trackit-tile-container">
      <mat-list role="list">
        <mat-list-item role="listitem"> 📋 Total Pending Tasks </mat-list-item>
        <mat-list-item role="listitem">⏳ Next Deadline</mat-list-item>
        <mat-list-item role="listitem">⚠️ Overdue Tasks</mat-list-item>
        <mat-list-item role="listitem"> 📅 Today's Priority Tasks </mat-list-item>
        <br />
      </mat-list>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <!-- <button
      mat-raised-button
      class="trackit-primary-btn"
      routerLink="/goal-tracking"
    >
      View Detailed Report!
    </button> -->
  </mat-card-actions>
</mat-card>
