:host {
  display: block;
  width: 100%;
  height: 100%;
}

.trackit-container {
  // background-color: red($color: #cf4040);
  display: block;
  justify-content: center;
  align-items: center;

  .add-course {
    margin-top: 1rem;
    text-align: end;
  }
}
// .example-container {
//   width: 100%;
//   height: calc(100% - 4rem);
//   border: 1px solid #555;
// }

mat-card {
  height: 100%;
  width: 100%;
  // align-items: center;
  justify-content: space-between;
}

mat-grid-list {
  margin: 2rem;
}
mat-grid-tile {
  margin: 2rem;
}

// .course-card {
//   position: relative;
//   padding: 16px;
//   max-width: 400px;
// }

.delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.trackit-card {
  position: relative;
  padding: 16px;
  max-width: 400px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1; /* Push delete button to the right */
}
