<div class="container mx-auto">
  <div class="flex items-center justify-between p-4 rounded-md">
    <h2 class="text-xl font-bold text-gray-800 dark:text-white">Courses</h2>
    <p-button label="Add Course" icon="pi pi-plus" iconPos="right" (click)="onAddCourse()" />
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
    @for (course of courses$ | async; track course) {
      <div class="mb-4 p-2 md:p-4 flex items-center justify-center">
        <p-card
          [style]="{ width: '25rem', overflow: 'hidden' }"
          class="dark:bg-gray-800 dark:border-surface-600"
        >
          <ng-template #header>
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
          </ng-template>
          <ng-template #title> {{ course.title }} </ng-template>
          <ng-template #subtitle> {{ course.subtitle }} </ng-template>
          <p>
            {{ course.description }}
          </p>
          <ng-template #footer>
            <div class="flex gap-4 mt-1">
              <p-button
                label="View More"
                class="w-full"
                styleClass="w-full"
                routerLink="course-details"
              />
            </div>
          </ng-template>
        </p-card>
      </div>
    }
  </div>
</div>

<p-dialog
  [header]="dialogTitle"
  [modal]="true"
  [(visible)]="showAddDialog"
  [style]="{ width: '25rem' }"
>
  <div class="flex items-center gap-4 mb-4">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="w-full">
      <p-floatlabel variant="in" class="w-full">
        <input
          pInputText
          id="title"
          class="w-full mb-4"
          formControlName="title"
          pSize="large"
          autocomplete="off"
        />
        <label for="title">Title</label>
      </p-floatlabel>
      <p-floatlabel variant="in" class="w-full">
        <input
          pInputText
          id="subtitle"
          class="w-full mb-4"
          formControlName="subtitle"
          pSize="large"
          autocomplete="off"
        />
        <label for="subtitle">Subtitle</label>
      </p-floatlabel>
      <p-floatlabel class="w-full" variant="in">
        <p-select
          formControlName="priority"
          inputId="priority"
          [options]="priorities"
          optionLabel="label"
          optionValue="value"
          class="w-full mb-4"
          variant="filled"
          appendTo="body"
        />
        <label for="priority">Priority</label>
      </p-floatlabel>

      <p-floatlabel class="w-full" variant="in">
        <p-select
          formControlName="category"
          inputId="category"
          [options]="categories"
          optionLabel="label"
          optionValue="value"
          class="w-full mb-4"
          variant="filled"
          appendTo="body"
        />
        <label for="category">Catagory</label>
      </p-floatlabel>

      <p-floatlabel class="w-full" variant="in">
        <p-datepicker
          formControlName="targetDate"
          inputId="targetDate"
          showIcon
          iconDisplay="input"
          class="w-full mb-4"
          styleClass="w-full"
          variant="filled"
          appendTo="body"
        />
        <label for="targetDate">Target Date</label>
      </p-floatlabel>
      <div class="flex mt-4 w-full">
        <p-button
          [disabled]="courseForm.invalid"
          label="Save"
          type="submit"
          class="w-full"
          styleClass="w-full"
        />
      </div>
    </form>
  </div>
</p-dialog>
