<mat-card appearance="outlined" class="trackit-card">
  <mat-card-header>
    <mat-card-title>🔔 Reminders </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="trackit-tile-container">
      <mat-list role="list">
        <mat-list-item role="listitem">📅 Next Bill Due</mat-list-item>
        <mat-list-item role="listitem"> 💰 Pending Payments & Amounts </mat-list-item>
        <mat-list-item role="listitem">🔔 Payment Reminders</mat-list-item>
        <mat-list-item role="listitem"> 🏦 Payment Methods Linked </mat-list-item>
        <mat-list-item role="listitem">📅 Next Bill Due</mat-list-item>
        <mat-list-item role="listitem"> 📊 Budget vs. Actual Spending </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <!-- <button
      mat-raised-button
      class="trackit-primary-btn"
      routerLink="/goal-tracking"
    >
      View Detailed Report!
    </button> -->
  </mat-card-actions>
</mat-card>
