<div class="dashboard-container">
  <mat-grid-list cols="4" gutterSize="1.5rem">
    @for (tile of tiles$ | async; track tile) {
      <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows">
        <!-- [style.background]="tile.color" -->

        @if (tile.text === '💰 Financial') {
          <trackit-financial-tile></trackit-financial-tile>
        } @else if (tile.text === '📚 Learning') {
          <trackit-learning-tile></trackit-learning-tile>
        } @else if (tile.text === '📈 Portfolio') {
          <trackit-portfolio-tile></trackit-portfolio-tile>
        } @else if (tile.text === '🔔 Reminders') {
          <trackit-reminders-tile></trackit-reminders-tile>
        } @else if (tile.text === '🎯 Goals') {
          <trackit-goals-tile></trackit-goals-tile>
        } @else if (tile.text === '✅ To-Dos') {
          <trackit-todos-tile></trackit-todos-tile>
        } @else if (tile.text === '💳 Subscriptions') {
          <trackit-subscriptions-tile></trackit-subscriptions-tile>
        } @else if (tile.text === '📊 Daily Insights') {
          <trackit-daily-insights-tile></trackit-daily-insights-tile>
        } @else if (tile.text === '🏋️‍♂️ Health & Fitness') {
          <trackit-health-fitness-tile></trackit-health-fitness-tile>
        } @else {
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title> {{ tile.text }} </mat-card-title>
              <!-- <mat-card-subtitle>Anything you'd like!</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content> </mat-card-content>
          </mat-card>
        }
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>
